DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=flight_tracker
DB_SSLMODE=disable

APP_PORT=8080

JWT_SECRET=your_jwt_secret
JWT_TTL_HOURS=24

LOG_LEVEL=info
LOG_FILE_PATH=./logs/flight_tracker.log
LOG_MAX_AGE_HOURS=720

WORKER_STATS_COLLECTION_INTERVAL_MINUTES=2